@charset "UTF-8";
.shadow1:hover, .shadow1:focus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow2:hover, .shadow2:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow3:hover, .shadow3:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow4:hover, .shadow4:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow5:hover, .shadow5:focus {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

h1, h2, h3, h4, h5, h6, .title-font, [class^=chdp-search], .main-navigation, .chdp-pagination, #respond label, #colophon, .mfp-counter, #chdp-top-bar {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

@keyframes tabActive {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
/**
 *	Universal Code for the theme
 */
#chdp-top-bar #top-navigation button, .edit-post-link, #comments .comment .reply a, input[type=submit], .tertiary-btn {
  position: relative;
  display: inline-block;
  color: white;
  border: 0;
  background-color: #F4AC45;
  border-radius: 0;
  padding: 0.6em 1em;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}
#chdp-top-bar #top-navigation button:hover:before, .edit-post-link:hover:before, #comments .comment .reply a:hover:before, input[type=submit]:hover:before, .tertiary-btn:hover:before, #chdp-top-bar #top-navigation button:focus:before, .edit-post-link:focus:before, #comments .comment .reply a:focus:before, input[type=submit]:focus:before, .tertiary-btn:focus:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
#chdp-top-bar #top-navigation button:active:before, .edit-post-link:active:before, #comments .comment .reply a:active:before, input[type=submit]:active:before, .tertiary-btn:active:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.shadow1 {
  transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow2 {
  transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow3 {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow4 {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow5 {
  transition: box-shadow 600ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box-shadow 600ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow 600ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: box-shadow 600ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  font-size: 16px;
}

body {
  line-height: 1.8;
  font-weight: 400;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

a, button {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .title-font {
  margin: 0.5rem 0;
  line-height: 1.2;
  color: #191308;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.03em;
}

h5 {
  font-size: 1.2rem;
  letter-spacing: 0.03em;
}

h6 {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#primary, #secondary {
  width: 100%;
}

blockquote {
  border-left: solid 0.2rem #063444;
  margin: 4rem 0 1.25rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
}
blockquote:before, blockquote:after {
  content: "";
}
blockquote p:last-child {
  margin: 0;
}

pre, fieldset, input, textarea, table, table *, hr {
  border-color: #e6e6e6;
}

figcaption {
  background-color: #f1f1f1;
  padding: 0.24em 0.4em;
  font-size: 0.9em;
  color: #666;
  font-style: italic;
}
.wp-block-image figcaption {
  margin-top: 0;
}

th, td {
  border: solid 1px #e6e6e6;
  padding: 1em 0.5em;
  line-height: 1.4;
  margin: 0;
}
#footer-sidebar th, #footer-sidebar td {
  border: solid 1px rgba(255, 255, 255, 0.2);
}

ul, ol {
  padding-left: 0.1em;
}
ul li, ol li {
  margin: 0.5em 0;
}

address {
  margin-bottom: 1rem;
  color: #999999;
  font-style: italic;
}

cite {
  font-size: 1em;
  color: #063444;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #ededed;
}

ins {
  background-color: #0a5873;
  color: white;
  text-decoration: none;
  padding: 0 3px;
}

pre {
  background-color: #f7f7f7;
  text-overflow: ellipsis;
}

q {
  font-style: italic;
}

.post-edit-link {
  color: #F4AC45;
  font-weight: 700;
}

#content-wrapper {
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
}

.page-header {
  width: 100%;
  margin-bottom: 0.8em;
}
.page-header .page-title {
  font-weight: 400;
}
.page-header span {
  font-weight: 700;
}

.page-content, .entry-content, .entry-summary {
  margin: 1em 0 0;
}
.page-content a, .entry-content a, .entry-summary a {
  text-decoration: underline;
}

.gallery {
  grid-gap: 0.2em;
}
.gallery figure {
  margin-bottom: 0.2em;
}

/**
 *	Styling the Header of the site
 */
#masthead {
  font-size: 1rem;
}
#masthead .header-area {
  margin-top: 2em;
  margin-bottom: 2em;
}

header.style-3 input[type=search] {
  background-color: #063444 !important;
  color: white !important;
}
header.style-3 .search-btn-main {
  background: none;
  border: 0;
  font-size: 1.5em;
}

.nav-wrapper {
  position: relative;
  background-color: #063444;
  padding: 0.5em 0;
}
@media (min-width: 992px) {
  .nav-wrapper {
    padding: 0;
  }
}
.nav-wrapper > * {
  position: relative;
}
.nav-wrapper button {
  background: none;
  border: 0;
  font-size: 1.6em;
  color: white;
}

#header-image {
  position: relative;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-image:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.site-branding {
  position: relative;
}
@media (max-width: 767px) {
  .site-branding {
    margin-bottom: 0.5em;
    text-align: center;
  }
}
.site-branding .site-title {
  margin: 0;
}
.site-branding .site-description {
  margin-bottom: 0;
}
.site-branding img.custom-logo {
  max-height: 120px;
  width: auto;
}

#logo-ad-area {
  display: flex;
  align-items: center;
}
#logo-ad-area section {
  margin-bottom: 0;
}

/**
 *	Style for the search Functionality
 */
.search-wrapper-main, .search-wrapper-sticky {
  position: relative;
}

[class^=chdp-search] {
  position: absolute;
  right: 0;
  width: 0;
  height: 100%;
  right: 100%;
  top: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  z-index: 999;
}
[class^=chdp-search] form {
  height: 100%;
  background-color: #F4AC45;
}
[class^=chdp-search] form label {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
[class^=chdp-search] form label input[type=search] {
  position: relative;
  height: 100%;
  background-color: #F4AC45;
  border: 0;
  color: white;
  border-radius: 0;
  font-weight: 700;
}
[class^=chdp-search] form label input[type=search]::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[class^=chdp-search] form label input[type=search]:focus-visible {
  outline: none;
}
[class^=chdp-search] form input[type=submit] {
  display: none;
}
@keyframes ripple {
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 0;
  }
}
#go-to-field, [class^=chdp-search] button {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

[class^=search-btn] {
  position: relative;
  padding: 0;
}

span.ripple {
  position: absolute;
  height: 1000px;
  width: 1000px;
  border-radius: 50%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform-origin: center center;
  animation: ripple 600ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.7);
}

/**
 *	Style for Navigation Drawer
 */
.main-navigation {
  width: auto;
  font-weight: 700;
}
.main-navigation a {
  color: white;
  padding: 0.5em 1em;
}
@media (max-width: 991px) {
  .main-navigation {
    display: none;
  }
}
@media (min-width: 992px) {
  .main-navigation ul#menu-desktop > li {
    margin: 0;
    float: left;
    padding: 0.25em 0;
  }
  .main-navigation ul#menu-desktop > li.menu-item-has-children > a:after, .main-navigation ul#menu-desktop > li.page_item_has_children > a:after {
    position: relative;
    content: "";
    font-family: "FontAwesome";
    font-size: 0.98em;
    padding-left: 10px;
  }
  .main-navigation ul#menu-desktop > li > a {
    color: white;
  }
  .main-navigation ul#menu-desktop li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .main-navigation ul#menu-desktop ul {
    flex-direction: column;
    opacity: 0;
    text-transform: none;
    background-color: #063444;
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -o-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    -o-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    font-weight: 400;
  }
  .main-navigation ul#menu-desktop ul li {
    float: none;
    display: block;
    position: relative;
    margin: 0;
  }
  .main-navigation ul#menu-desktop ul li.menu-item-has-children > a:after, .main-navigation ul#menu-desktop ul li.page_item_has_children > a:after {
    position: relative;
    content: "";
    font-family: "FontAwesome";
    float: right;
  }
  .main-navigation ul#menu-desktop ul li:hover > ul, .main-navigation ul#menu-desktop ul li:focus-within > ul {
    left: 100%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  .main-navigation ul#menu-desktop li:hover > ul, .main-navigation ul#menu-desktop li:focus-within > ul {
    opacity: 1;
    left: auto;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
header.style-3 .main-navigation #menu-desktop > li > a {
  color: #063444;
}

.mobile-nav-btn {
  border: 0;
  background: none;
  font-size: 1.5em;
  color: white;
}
.style-3 .mobile-nav-btn {
  color: #063444;
}
@media (min-width: 992px) {
  .mobile-nav-btn {
    display: none;
  }
}

#panel-top-bar {
  overflow: auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}
#panel-top-bar .menu-link {
  float: right;
  border: 0;
  border-radius: 0;
  font-size: 1.4em;
  padding: 0.4em;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

button.go-to-top, button.go-to-bottom {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

#menu {
  z-index: 999;
  text-align: left;
  overflow-y: auto;
  background-color: #063444;
}
#menu .menu-overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  z-index: 0;
  display: none;
}
#menu .go-to-top {
  background: none;
  float: left;
  border: 0;
}
#menu .go-to-top i {
  color: white;
}
#menu .go-to-bottom {
  background: none;
  float: right;
  border: 0;
}
#menu .go-to-bottom i {
  color: white;
}
#menu ul {
  margin-left: 0px;
  padding: 0px;
  width: 100%;
}
#menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
#menu ul li:before {
  display: none;
}
#menu ul li a {
  display: block;
  color: white;
  padding: 0.5em 0.8em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#menu ul li.menu-item-has-children {
  display: block;
}
#menu ul li.menu-item-has-children span.dropdown-arrow {
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
#menu ul li.menu-item-has-children span.dropdown-arrow i {
  margin: auto;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
#menu ul li.menu-item-has-children ul {
  background: rgba(255, 255, 255, 0.1);
}

body #sticky-navigation {
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  z-index: 9;
}
body #sticky-navigation .nav-wrapper {
  padding: 0.4em 0;
}
body #sticky-navigation .site-branding a, body #sticky-navigation .site-branding p {
  color: white;
}
body #sticky-navigation .chdp-search {
  bottom: unset;
  top: 100%;
  z-index: 9;
}

/**
 *	Styling for the widget section of the theme
 */
.widget-area:not(#header-widget-wrapper) .widget {
  margin-bottom: 2em;
}
.widget .widget-title {
  margin-top: 0;
  margin-bottom: 0.75em;
  font-weight: 700;
}
#chdp-before-content .widget .widget-title {
  text-align: center;
}
.widget.widget_search label {
  display: none;
}
.widget.widget_search input[type=search] {
  border-radius: 0;
  border: solid 1px rgba(0, 0, 0, 0.08);
  width: 100%;
  padding: 0.3em 0.5em;
}
.widget.widget_search button[type=submit] {
  background-color: #F4AC45;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border: 0;
}
.widget.widget_chdp_cats_tab {
  overflow: auto;
}
.widget.widget_chdp_cats_tab ul {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.widget.widget_chdp_cats_tab ul li {
  display: inline-block;
  float: left;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  width: auto;
  overflow: hidden;
}
.widget.widget_chdp_cats_tab ul li a {
  color: white;
  background-color: #063444;
  padding: 0.5em 1.2em;
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.widget.widget_chdp_cats_tab ul li a:hover {
  color: white;
}
.widget.widget_chdp_cats_tab ul li:before {
  content: "";
  margin-right: 0;
}
.widget.widget_chdp_cats_tab ul.is-vertical {
  font-size: 0.9em;
}
.widget.widget_chdp_cats_tab .tabs-slider {
  position: relative;
  content: "";
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-top: solid 10px #063444;
  border-bottom: solid 10px transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.widget.widget_chdp_cats_tab .ui-tabs {
  text-align: center;
}
.widget.widget_chdp_cats_tab .category_panel.is-vertical .chdp-card-wrapper {
  padding: 0;
  border: 0;
}
.widget.widget_chdp_cats_tab .category_panel.is-vertical .chdp-thumb {
  overflow: hidden;
}
.widget.widget_chdp_cat_slider .owl-stage-outer {
  overflow: hidden;
}
.widget.widget_chdp_cat_slider .owl-nav {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  left: 2em;
  margin: auto;
  overflow: hidden;
}
.widget.widget_chdp_cat_slider .owl-nav button {
  display: inline-block;
  overflow: hidden;
  margin: 10px 8px 0;
}
.widget.widget_chdp_cat_slider .owl-nav button span {
  padding: 0 0.3em;
  background-color: #063444;
  color: white;
}
.widget.widget_chdp_cat_slider .owl-nav span {
  font-size: 3em;
  color: #063444;
}
.widget.widget_chdp_cat_slider .slide-title {
  position: absolute;
  display: inline-block;
  bottom: 10%;
  max-width: 50%;
  background-color: #063444;
}
.widget.widget_chdp_cat_slider .slide-title h3 {
  display: inline-block;
  margin: 0.5em 0.8em;
  font-size: 1.2em;
}
@media screen and (min-width: 768px) {
  .widget.widget_chdp_cat_slider .slide-title h3 {
    font-size: 2em;
  }
}
.widget.widget_chdp_cat_slider .slide-title a {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
}
.widget.widget_chdp_recent_posts, .widget.widget_chdp_featured_cat {
  overflow: auto;
}
.widget.widget_chdp_recent_posts .chdp-widget-post, .widget.widget_chdp_featured_cat .chdp-widget-post {
  margin-bottom: 0.8em;
}
.widget.widget_chdp_recent_posts .chdp-widget-post-thumb, .widget.widget_chdp_featured_cat .chdp-widget-post-thumb {
  overflow: hidden;
}
.widget.widget_chdp_recent_posts .chdp-widget-post-title, .widget.widget_chdp_featured_cat .chdp-widget-post-title {
  padding-left: 0.75em;
  line-height: 1.5;
}
.widget.widget_chdp_recent_posts .chdp-widget-post-title .chdp-widget-post-link, .widget.widget_chdp_featured_cat .chdp-widget-post-title .chdp-widget-post-link {
  display: block;
  color: #063444;
}
@media screen and (min-width: 768px) {
  .widget.widget_chdp_recent_posts .chdp-widget-post-title, .widget.widget_chdp_featured_cat .chdp-widget-post-title {
    margin-top: 0;
  }
}
.widget.widget_chdp_recent_posts .chdp-widget-post-title .recent-date, .widget.widget_chdp_featured_cat .chdp-widget-post-title .recent-date {
  font-size: 0.75em;
  color: #888;
}
.widget ul {
  margin-left: 0;
  list-style: none;
}
.widget ul li {
  position: relative;
}
.widget ul li a {
  color: #063444;
  transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: underline;
}
.widget ul li a:hover {
  color: #0b6381;
}
.widget ul li:last-child {
  margin-bottom: 0;
}

.widget_block ul li, .widget_block ol li {
  line-height: 1.6em;
}
.widget_block a {
  text-decoration: underline;
  color: #063444;
}

/**
 *	Styling for the Pagination
 */
.chdp-pagination {
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.chdp-pagination .nav-links > * {
  margin: 0.8em;
  color: #063444;
}
.chdp-pagination .nav-links span.current {
  position: relative;
  color: #a6a6a6;
  font-weight: 700;
}

/**
 *	Styling for Single Post Page
 */
body.single #primary h1.entry-title {
  font-weight: 700;
}
body.single #primary .entry-meta {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}
body.single #primary .entry-meta:after {
  content: "";
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #ddd;
}
body.single #primary .entry-meta > * {
  flex-shrink: 0;
  margin-right: 1em;
}
body.single #primary .entry-meta a {
  color: #063444;
  font-size: 0.9em;
  text-transform: uppercase;
}
body.single #primary .entry-content {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px #eee;
}
body.single #primary .entry-footer {
  margin-bottom: 2em;
}
body.single #primary .entry-footer i {
  position: relative;
  line-height: 1.8em;
  padding: 0em 0.8em;
  margin-right: 0.5em;
  color: #ccc;
}
body.single #primary .entry-footer i:before {
  z-index: 2;
}
body.single #primary .entry-footer i:after {
  content: "";
  position: absolute;
  width: 80%;
  padding-bottom: 80%;
  background-color: transparent;
  border-radius: 50%;
  outline: solid 2px #ccc;
  top: -3px;
  left: 3px;
  z-index: 0;
}
body.single #primary .entry-footer > * {
  margin-bottom: 1em;
}
body.single #primary .chdp-related-posts .entry-meta {
  margin-bottom: 0.5em;
}
body.single #primary .chdp-related-posts .entry-meta:after {
  display: none;
}
body.single #primary .chdp-related-posts .entry-meta a {
  font-weight: 400;
  color: #777;
}
body.single #primary .nav-links {
  width: 100%;
  background-color: #f6f6f6;
  padding: 0.8em 1.2em;
  margin-bottom: 2em;
  overflow: hidden;
}
body.single #primary .nav-links a {
  font-weight: 700;
}
body.single #primary .nav-links > * {
  display: inline-block;
  max-width: 50%;
}
body.single #primary .nav-links .nav-previous {
  float: left;
  display: flex;
  flex-direction: column;
}
body.single #primary .nav-links .nav-previous:before {
  content: "Previous Post";
  width: 100%;
  font-size: 0.85em;
  color: #777777;
}
body.single #primary .nav-links .nav-next {
  float: right;
  display: flex;
  flex-direction: column;
}
body.single #primary .nav-links .nav-next:before {
  content: "Next Post";
  width: 100%;
  font-size: 0.85em;
  color: #777777;
}
body.single #primary .nav-links a {
  color: #063444;
}
body.single #primary #author_box {
  border: solid 1px #ddd;
  padding: 1em;
}
body.single #primary #author_box h4 {
  margin-top: 0;
}
body.single #primary #author_box img {
  padding: 0.6em;
  border: solid 1px #eee;
}
body.single #primary #author_box .author_info {
  padding-left: 1em;
}

/**
 *	Styling for the comment section of the theme
 */
#respond label {
  display: inline;
}
#respond textarea {
  padding: 0.5em;
}

#comments {
  margin-top: 2em;
}
#comments .comments-title {
  margin-bottom: 1em;
}
#comments .comment-list, #comments ul.children {
  margin: 0;
  list-style: none;
}
#comments ol.comment-list {
  overflow: hidden;
}
#comments .comment-body {
  margin-bottom: 0.5em;
}
#comments ul.children {
  border: solid 1px #eee;
  padding: 1.5em;
}
#comments .comment {
  border: solid 1px #eee;
  padding: 1em;
  margin-bottom: 1em;
}
#comments .comment .comment-info {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
#comments .comment .vcard {
  margin-right: 0.75em;
}
#comments .comment .vcard a {
  color: #063444;
}
#comments .comment .vcard img {
  border-radius: 50%;
  margin-right: 0.75em;
}
#comments .comment .comment-meta a {
  color: gray;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-right: 0.75em;
}
/**
 *	Add Footer Styling
 */
#footer-sidebar {
  position: relative;
  background-color: #191308;
  padding: 3em 0;
}
#footer-sidebar .widget {
  color: #aaa;
  padding: 0;
}
#footer-sidebar .widget h4.widget-title {
  margin-top: 0;
  color: #F4AC45;
}
#footer-sidebar .widget a {
  color: white;
}
#footer-sidebar .widget li:before {
  color: #063444;
}

#colophon {
  background-color: #063444;
  color: white;
  text-align: center;
  padding: 10px 0 20px;
}
#colophon a {
  font-weight: 700;
  color: #fff;
}

#chdp-top-bar {
  background-color: #000;
  padding: 0.35em 0;
  box-shadow: 0 1px #ccc;
}
#chdp-top-bar #chdp-social .icon {
  display: inline-block;
  float: left;
  margin-right: 0.75em;
}
#chdp-top-bar #chdp-social .icon a {
  font-size: 1em;
  color: #fff;
}
#chdp-top-bar #chdp-social .icon a i.fa-facebook-f:hover {
  color: #278EEA;
}
#chdp-top-bar #chdp-social .icon a i.fa-twitter:hover {
  color: #33a4ec;
}
#chdp-top-bar #chdp-social .icon a i.fa-rss:hover {
  color: #e66237;
}
#chdp-top-bar #chdp-social .icon a i.fa-pinterest-p:hover {
  color: #c22532;
}
#chdp-top-bar #chdp-social .icon a i.fa-vimeo:hover {
  color: #34b3df;
}
#chdp-top-bar #chdp-social .icon a i.fa-youtube:hover {
  color: #f91628;
}
#chdp-top-bar #chdp-social .icon a i.fa-instagram:hover {
  color: #c141a4;
}
#chdp-top-bar #chdp-social .icon a i.fa-flickr:hover {
  color: black;
}
#chdp-top-bar #chdp-social .icon a i.fa-linkedin:hover {
  color: #1d6abc;
}
#chdp-top-bar #top-navigation {
  position: relative;
}
#chdp-top-bar #top-navigation a {
  color: #333;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  #chdp-top-bar #top-navigation a {
    color: #fff;
  }
}
#chdp-top-bar #top-navigation button {
  border-radius: 3px;
  letter-spacing: 0;
}
@media (min-width: 992px) {
  #chdp-top-bar #top-navigation button {
    display: none;
  }
  #chdp-top-bar #top-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  #chdp-top-bar #top-navigation ul li {
    float: left;
    margin: auto 0.5em;
  }
}
@media (max-width: 991px) {
  #chdp-top-bar #top-navigation.toggled ul, #chdp-top-bar #top-navigation.toggled .jumper {
    display: block;
  }
  #chdp-top-bar #top-navigation .jumper {
    display: none;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }
  #chdp-top-bar #top-navigation #menu-top {
    border-radius: 5px;
  }
  #chdp-top-bar #top-navigation ul {
    display: none;
    list-style: none;
    margin: 0.6em 0 0;
    padding: 0.24em 0;
    position: absolute;
    background-color: #eee;
    border: solid 1px #ddd;
    top: 100%;
    z-index: 99;
    min-width: 120px;
    left: 0;
    right: 0;
  }
  #chdp-top-bar #top-navigation ul li {
    margin: auto 0.6em;
  }
  #chdp-top-bar #top-navigation ul li a {
    display: block;
    padding: 0.55em 0;
  }
  #chdp-top-bar #top-navigation ul li:not(:last-child) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  }
  #chdp-top-bar #top-navigation ul li:not(:first-child) {
    border-top: solid 1px rgba(255, 255, 255, 0.6);
  }
}

.wpcf7 input:not([type=submit]), .wpcf7 textarea, .wpcf7 select {
  border-radius: 0;
}
.wpcf7 .wpcf7-checkbox .wpcf7-list-item, .wpcf7 .wpcf7-radio .wpcf7-list-item {
  display: block;
}
.wpcf7 .wpcf7-checkbox .wpcf7-list-item input, .wpcf7 .wpcf7-radio .wpcf7-list-item input {
  width: auto;
}
.wpcf7 .wpcf7-not-valid-tip {
  font-size: 0.85em;
  font-weight: 700;
}
.wpcf7 .wpcf7-quiz-label {
  display: block;
}

/**
 *	Code for Blog Layouts
 */
body.home #primary, body.archive #primary, body.search #primary {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

article.chdp-blog {
  margin-bottom: 1.5em;
}
article.chdp-blog .chdp-card-wrapper {
  height: 100%;
  display: flex;
}
article.chdp-blog:not(.default) .chdp-card-wrapper {
  flex-direction: column;
}
article.chdp-blog .chdp-thumb img {
  overflow: hidden;
}
article.chdp-blog .chdp-card-content {
  height: 100%;
  padding: 0.8em;
  background: #f6f6f6;
  border-top: 0;
  display: flex;
  flex-direction: column;
}
article.chdp-blog .entry-title {
  margin-top: 0;
  word-wrap: break-word;
  margin-bottom: 0.5em;
  font-size: 1.3rem;
  line-height: 1.5em;
}
article.chdp-blog .entry-title a {
  color: black;
}
article.chdp-blog .entry-meta {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
article.chdp-blog .entry-meta a {
  color: #063444;
}
article.chdp-blog .entry-meta > span {
  display: inline-block;
}
article.chdp-blog .chdp_excerpt {
  color: #9a9a9a;
  word-wrap: break-word;
  margin-bottom: 1em;
  font-size: 0.9em;
  line-height: 1.5em;
}
article.chdp-blog .blog-footer {
  font-size: 0.75em;
  color: #063444;
  display: flex;
  align-items: flex-start;
  padding-top: 0.5em;
  margin-top: auto;
  border-top: solid 3px #eee;
  text-transform: uppercase;
}
article.chdp-blog .blog-footer a {
  color: #063444;
}
article.chdp-blog .blog-footer .chdp_cats {
  max-width: 72%;
}
article.chdp-blog .blog-footer .blog-comments {
  margin-left: auto;
  color: #888;
}
article.chdp-blog .blog-footer .blog-comments:before {
  content: "";
  font-family: "FontAwesome";
  margin-right: 0.2em;
}
article.chdp-blog .entry-footer {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 400;
}

#chdp-featured-cat h2, #chdp-featured-posts h2, #chdp-featured-news h2 {
  font-size: 1.6em;
  margin-bottom: 0.24em;
  letter-spacing: 0.02em;
  font-weight: 700;
}

#chdp-featured-cat .featured-cat-thumb {
  position: relati;
}
#chdp-featured-cat h3 {
  font-size: 1.2em;
}

#chdp-featured-posts {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  #chdp-featured-posts .chdp-featured-post-1 h3 {
    font-size: 1.6em;
  }
}
#chdp-featured-posts .chdp-featured-post-thumb {
  position: relative;
  margin: 1px;
}
#chdp-featured-posts .chdp-featured-post-date {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0.2em 0.6em;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background-color: #063444;
}
#chdp-featured-posts h3 {
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.621) 0.8%, rgba(0, 0, 0, 0.597) 2.9%, rgba(0, 0, 0, 0.562) 6.4%, rgba(0, 0, 0, 0.517) 11%, rgba(0, 0, 0, 0.464) 16.6%, rgba(0, 0, 0, 0.406) 23.1%, rgba(0, 0, 0, 0.344) 30.4%, rgba(0, 0, 0, 0.281) 38.3%, rgba(0, 0, 0, 0.22) 46.7%, rgba(0, 0, 0, 0.162) 55.4%, rgba(0, 0, 0, 0.11) 64.4%, rgba(0, 0, 0, 0.065) 73.5%, rgba(0, 0, 0, 0.03) 82.5%, rgba(0, 0, 0, 0.008) 91.4%, rgba(0, 0, 0, 0) 100%);
  margin: 0;
  padding: 0.8em 1.2em;
  font-size: 1.2em;
  font-weight: 700;
  position: absolute;
  display: flex;
  align-items: center;
  height: 25%;
  bottom: 0;
  left: 0;
  width: 100%;
}

#chdp-featured-news-carousel-container, #chdp-featured-news-list-container, #chdp-news-slider-container {
  padding-left: 5px;
  padding-right: 5px;
}

#chdp-featured-news {
  min-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}
#chdp-featured-news .slider-post-wrapper {
  position: relative;
  margin-bottom: 10px;
  height: 430px;
}
#chdp-featured-news .slider-post-wrapper .slider-post {
  position: absolute;
  height: 100%;
  width: 100%;
}
#chdp-featured-news .slider-post-wrapper .slider-post img {
  height: 100%;
  object-fit: cover;
}
#chdp-featured-news .slider-post-wrapper h3 {
  color: white;
}
@media (max-width: 767px) {
  #chdp-featured-news .slider-post-wrapper h3 {
    font-size: 1.1em;
  }
}
#chdp-featured-news .slider-post-wrapper .chdp-slider-post-meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2em 1.6em 0.8em;
  margin-bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.621) 0.8%, rgba(0, 0, 0, 0.597) 2.9%, rgba(0, 0, 0, 0.562) 6.4%, rgba(0, 0, 0, 0.517) 11%, rgba(0, 0, 0, 0.464) 16.6%, rgba(0, 0, 0, 0.406) 23.1%, rgba(0, 0, 0, 0.344) 30.4%, rgba(0, 0, 0, 0.281) 38.3%, rgba(0, 0, 0, 0.22) 46.7%, rgba(0, 0, 0, 0.162) 55.4%, rgba(0, 0, 0, 0.11) 64.4%, rgba(0, 0, 0, 0.065) 73.5%, rgba(0, 0, 0, 0.03) 82.5%, rgba(0, 0, 0, 0.008) 91.4%, rgba(0, 0, 0, 0) 100%);
}
#chdp-featured-news .slider-post-wrapper .posted-on a {
  color: white;
  background-color: #063444;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
  font-weight: 700;
}
#chdp-featured-news #chdp-featured-news-list-container {
  position: relative;
}
@media (min-width: 1200px) {
  #chdp-featured-news #chdp-featured-news-list-container {
    height: 430px;
  }
}
#chdp-featured-news #chdp-featured-news-list-container .featured-post-list-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}
#chdp-featured-news #chdp-featured-news-list-container .featured-post-list-wrapper img {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
#chdp-featured-news #chdp-featured-news-list-container .featured-news-list-content {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 1.2em 0.6em 0.6em;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.621) 0.8%, rgba(0, 0, 0, 0.597) 2.9%, rgba(0, 0, 0, 0.562) 6.4%, rgba(0, 0, 0, 0.517) 11%, rgba(0, 0, 0, 0.464) 16.6%, rgba(0, 0, 0, 0.406) 23.1%, rgba(0, 0, 0, 0.344) 30.4%, rgba(0, 0, 0, 0.281) 38.3%, rgba(0, 0, 0, 0.22) 46.7%, rgba(0, 0, 0, 0.162) 55.4%, rgba(0, 0, 0, 0.11) 64.4%, rgba(0, 0, 0, 0.065) 73.5%, rgba(0, 0, 0, 0.03) 82.5%, rgba(0, 0, 0, 0.008) 91.4%, rgba(0, 0, 0, 0) 100%);
}
#chdp-featured-news #chdp-featured-news-list-container h3 {
  font-size: 1.1em;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.4em;
  color: white;
}
#chdp-featured-news #chdp-featured-news-list-container .posted-on a {
  color: white;
  background-color: #063444;
  text-transform: uppercase;
  padding: 0.3em 0.5em;
  font-size: 0.65em;
  font-weight: 700;
}
#chdp-featured-news #chdp-featured-news-list-container .chdp-news-list-cats a {
  color: white;
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.4em 0.5em;
}
@media (max-width: 767px) {
  #chdp-featured-news #chdp-featured-news-list-container .chdp-news-list-cats {
    display: none;
  }
}
#chdp-featured-news #chdp-featured-news-list-container .featured-news-list {
  height: 100%;
}
#chdp-featured-news #chdp-featured-news-list-container .chdp-featured-post-list {
  position: relative;
  height: 210px;
  overflow: hidden;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  #chdp-featured-news #chdp-featured-news-list-container .chdp-featured-post-list:first-child {
    padding-right: 5px;
  }
  #chdp-featured-news #chdp-featured-news-list-container .chdp-featured-post-list:last-child {
    padding-left: 5px;
  }
}
@media (min-width: 1200px) {
  #chdp-featured-news #chdp-featured-news-carousel-container {
    height: 430px;
  }
}
#chdp-featured-news #chdp-featured-news-carousel-container h3 {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  color: white;
}
#chdp-featured-news #chdp-featured-news-carousel-container .chdp-featured-post-car {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  #chdp-featured-news #chdp-featured-news-carousel-container .chdp-featured-post-car {
    margin-bottom: 16px;
  }
}
#chdp-featured-news #chdp-featured-news-carousel-container .featured-post-car-wrapper {
  background-color: #222;
  padding: 6px;
}
#chdp-featured-news #chdp-featured-news-carousel-container .featured-news-car-content {
  padding: 0.6em;
}
#chdp-featured-news #chdp-featured-news-carousel-container .posted-on {
  text-transform: uppercase;
}
#chdp-featured-news #chdp-featured-news-carousel-container .posted-on a {
  color: #d1d1d1;
  font-weight: 700;
  font-size: 0.65em;
}
